<div class="container">
    <h1 class="text-center mt-3" id="HOME">Sir Felix Quotes Hub</h1>
    <hr>
    <div class="row mt-3">
        <div class="col-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>

        <div class=" col-6">
            <h2 class="text-center">Quotes List</h2>
            <hr>
            <ul>
                <li *ngFor='let quote of quotes let i=index'>
                    <span id="votes">upvote; {{quote.upVote}} downvote; {{quote.downVote}} </span> <br> Quote; <strong id="name">{{quote.name}}</strong>
                    <br> <span id="detail">{{quote.detail}}</span>
                </li>
            </ul>
            <div class=" ">
                <app-quote-details [quote]="quote" (isComplete)='deleteQuote($event,0)'></app-quote-details>
            </div>
        </div>


    </div>
</div>