<div class="container">
    <h1 class="text-center mt-3" id="HOME">Sir Felix Quote Hub</h1>
    <hr>
    <div class="row mt-3">
        <div class="col-5">
            <app-quote-form (addQuote)="addNewQuotes($event)"></app-quote-form>
        </div>

        <div class="col-6">
            <h2 class="text-center">Quotes List</h2>
            <hr>
            <ul>
                <li *ngFor='let quote of quotes let i=index'>
                    {{quote.id}}.)

                    <div *ngIf="quote.upVote == highest && quote.upVote > 0; then highlight else unhighlight">
                    </div>
                    <ng-template #highlight>
                        <p appHighlight> <strong id="name">{{quote.name}}</strong></p>
                    </ng-template>

                    <ng-template #unhighlight>
                        <p> <strong id="name">{{quote.name}}</strong></p>
                    </ng-template>

                    <!-- <span id="votes">upvote; {{quote.upVote}} downvote; {{quote.downVote}} </span> -->


                    <p id="description"> <br> Author; <span id="detail">{{quote.author}} </span>and submitted by; <span id="detail">{{quote.detail}}</span> <br> Posted; <span id="date">{{quote.date|dateCount}}</span></p>

                    <app-up-vote-down-vote>

                    </app-up-vote-down-vote>
                </li>

            </ul>

            <div class="">
                <app-quote-details [quote]="quote" (isComplete)='deleteQuote($event,3)'></app-quote-details>
            </div>

        </div>


    </div>
</div>