* {
    box-sizing: border-box;
}

li {
    list-style: circle;
    margin-top: 7px;
}

.container {
    height: 90vh;
    margin-top: 2px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    border-bottom: 2px solid black;
}

#HOME {
    margin-top: 2%;
}

#name {
    font-size: 20px;
}

#votes {
    font-size: 18px;
}

#detail {
    font-size: 18px;
}