<div class="container">
    <h1 class="text-center mt-4" id="HOME">Sir Felix Quotes Hub</h1>
    <hr>
    <div class="row mt-3">

        <div class="col-6">
            <ul>
                <li *ngFor='let quote of quotes'>
                    {{quote.upVote}} {{quote.downVote}}-{{quote.name}}
                    <!-- <br> {{quote.description}} -->
                </li>
            </ul>
            <div class="">
                <app-quote-details [quote]="quote"></app-quote-details>
            </div>
        </div>

        <div class="col-6">


        </div>
    </div>
</div>